@import "tailwindcss";

@custom-variant dark (&&:where(.dark, .dark *));

@theme {
  --color-navy-50: #e6f1ff; 
  --color-navy-900: #112240; 
  --color-navy-950: #0a192f;

  --color-slate-200: #a8b2d1; 
  --color-slate-800: #1b2a41;

  --radius-3xl: 24px;
}

@keyframes bounce-slight {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }
}

.hover-bounce-slight:hover {
  animation: bounce-slight 0.5s ease-in-out 1;
}